<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" type="text/css" media="screen" href="<%= getCachebustedPath('css/main.css') %>" />
    </head>
    <body>
        Hello, world
    </body>

    <script type="text/javascript" src="<%= getCachebustedPath('js/bundle.js') %>"></script>
</html>
