@import 'foo';
$color: red;

body {
    color: $color;
    background-image: url('../img/test.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.foo {
    transform: rotateY(10deg);
}
